.container {
  width: 480px;
}

.header {
  padding: 16px 24px;
  background-color: #444;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 16px;
}

.footer {
  position: absolute;
  bottom: 0;
  background-color: #f0f0f0;
  width: 100%;
  padding: 16px;
}

.form {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: #444;
  font-size: 14px;
}

.formTitle {
  font-size: 16px;
  font-weight: 700;
}

@media screen and (max-width: 600px) {
  .container {
    width: 100vw;
  }
}
